/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
    background-color: #f5f5f5;
    color: #555;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 70px;
    color: rgba(200, 100, 100, 0.3);
    font-weight: 400;
    margin-bottom: 30px;
}

.caja {
    background: white;
    width: 450px;
    border-radius: 6px;
    box-shadow: 20px 15px 10px rgba(0, 0, 0, 0.295);
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 20px;
    
}


.listas {
    padding: 0;
    list-style: none;
}

.listas li {
    display: flex;
    justify-content: space-between;
    padding: 14px 18px;
    border-bottom: 1px solid #25141435;
    font-size: 20px;
}

.listas li i {
    opacity: 0;
    cursor: pointer;
    color:#ffffff00;
    transition: opacity 0.3s ease-in-out;
}

li:hover i {
    opacity: 1;
    color: #251414d1;
}


.contador {
    padding-bottom: 10px;
}

